In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.0'

In [3]:
import pandas as pd
import requests
import io

# The URL of the Parquet file
url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-11.parquet'

# Fetch the Parquet file
response = requests.get(url)
response.raise_for_status()  # This will raise an error if the download failed

# Read the Parquet content into a pandas DataFrame
df = pd.read_parquet(io.BytesIO(response.content))

# Now you've got your DataFrame, do some data wrangling or just admire its beauty
print(df.head())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2023-11-01 00:03:03   2023-11-01 01:04:08              2.0
1         1  2023-11-01 00:03:28   2023-11-01 00:23:59              0.0
2         2  2023-10-31 23:58:05   2023-11-01 00:54:03              4.0
3         2  2023-11-01 00:03:50   2023-11-01 00:04:59              1.0
4         2  2023-11-01 00:06:30   2023-11-01 00:14:25              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0          13.60         1.0                  N           132            26
1           3.50         1.0                  N           140             7
2          18.61         2.0                  N           132           230
3           0.39         1.0                  N           236           236
4           1.20         1.0                  N           236           141

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2         61.8   2.75      0.5        0.00          0.00
1             1         20.5   3.50      0.5        5.10          0.00
2             1         70.0   0.00      0.5       16.54          6.94
3             1          4.4   1.00      0.5        1.88          0.00
4             1         10.0   1.00      0.5        3.00          0.00

   improvement_surcharge  total_amount  congestion_surcharge  Airport_fee
0                    1.0         66.05                   0.0         1.75
1                    1.0         30.60                   2.5         0.00
2                    1.0         99.23                   2.5         1.75
3                    1.0         11.28                   2.5         0.00
4                    1.0         18.00                   2.5         0.00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3339715 entries, 0 to 3339714
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 445.9+ MB

In [5]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-11-01 00:03:03,2023-11-01 01:04:08,2.0,13.60,1.0,N,132,26,2,61.80,2.75,0.5,0.00,0.00,1.0,66.05,0.0,1.75
1,1,2023-11-01 00:03:28,2023-11-01 00:23:59,0.0,3.50,1.0,N,140,7,1,20.50,3.50,0.5,5.10,0.00,1.0,30.60,2.5,0.00
2,2,2023-10-31 23:58:05,2023-11-01 00:54:03,4.0,18.61,2.0,N,132,230,1,70.00,0.00,0.5,16.54,6.94,1.0,99.23,2.5,1.75
3,2,2023-11-01 00:03:50,2023-11-01 00:04:59,1.0,0.39,1.0,N,236,236,1,4.40,1.00,0.5,1.88,0.00,1.0,11.28,2.5,0.00
4,2,2023-11-01 00:06:30,2023-11-01 00:14:25,1.0,1.20,1.0,N,236,141,1,10.00,1.00,0.5,3.00,0.00,1.0,18.00,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3339710,2,2023-11-30 23:39:21,2023-12-01 00:05:10,NaN,4.15,NaN,None,161,146,0,24.30,0.00,0.5,5.66,0.00,1.0,33.96,NaN,NaN
3339711,2,2023-11-30 23:01:55,2023-11-30 23:03:06,NaN,0.00,NaN,None,232,232,0,22.42,0.00,0.5,5.14,0.00,1.0,31.56,NaN,NaN
3339712,2,2023-11-30 23:23:16,2023-11-30 23:33:56,NaN,1.74,NaN,None,113,186,0,16.09,0.00,0.5,0.00,0.00,1.0,20.09,NaN,NaN
3339713,2,2023-11-30 23:39:22,2023-11-30 23:53:33,NaN,2.39,NaN,None,90,144,0,16.23,0.00,0.5,0.00,0.00,1.0,20.23,NaN,NaN
3339714,2,2023-11-30 23:13:48,2023-11-30 23:37:11,NaN,3.38,NaN,None,114,142,0,27.95,0.00,0.5,0.00,0.00,1.0,31.95,NaN,NaN

In [6]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL
)

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [22]:
len(df)

3339715

In [24]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [25]:
# Define chunk size
chunk_size = 100000

# Number of chunks to upload - ceil division to handle the last chunk if it's smaller than chunk_size
num_chunks = -(-len(df) // chunk_size)

print(f"Starting upload of {len(df)} rows in {num_chunks} chunks...")

# Upload in chunks
for i in range(num_chunks):
    start_index = i * chunk_size
    end_index = start_index + chunk_size
    chunk = df.iloc[start_index:end_index]
    chunk.to_sql('yellow_taxi_data', con=engine, if_exists='append', index=False)
    print(f"Uploaded chunk {i+1}/{num_chunks}")

print("Upload complete!")

Starting upload of 3339715 rows in 34 chunks...
Uploaded chunk 1/34
Uploaded chunk 2/34
Uploaded chunk 3/34
Uploaded chunk 4/34
Uploaded chunk 5/34
Uploaded chunk 6/34
Uploaded chunk 7/34
Uploaded chunk 8/34
Uploaded chunk 9/34
Uploaded chunk 10/34
Uploaded chunk 11/34
Uploaded chunk 12/34
Uploaded chunk 13/34
Uploaded chunk 14/34
Uploaded chunk 15/34
Uploaded chunk 16/34
Uploaded chunk 17/34
Uploaded chunk 18/34
Uploaded chunk 19/34
Uploaded chunk 20/34
Uploaded chunk 21/34
Uploaded chunk 22/34
Uploaded chunk 23/34
Uploaded chunk 24/34
Uploaded chunk 25/34
Uploaded chunk 26/34
Uploaded chunk 27/34
Uploaded chunk 28/34
Uploaded chunk 29/34
Uploaded chunk 30/34
Uploaded chunk 31/34
Uploaded chunk 32/34
Uploaded chunk 33/34
Uploaded chunk 34/34
Upload complete!

# Connecting Jupyter nb to postgres

In [26]:
engine.connect()

In [28]:
query = "SELECT COUNT(*) FROM yellow_taxi_data;"

pd.read_sql(query, con=engine)

     count
0  3339715

# Zones

In [30]:
url = "https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv"

zones_df = pd.read_csv(url)

In [31]:
zones_df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [32]:
zones_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [33]:
print(pd.io.sql.get_schema(df, name="zones", con=engine))

CREATE TABLE zones (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [34]:
df.head(n=0).to_sql(name='zones', con=engine, if_exists='replace')

PendingRollbackError: Can't reconnect until invalid transaction is rolled back.  Please rollback() fully before proceeding (Background on this error at: https://sqlalche.me/e/20/8s2b)